<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This site support sharing mathdrill contents for all formats,
  like as TeX, TeX+emath, Ketpic, <%= link_to "STACK", "stack.org" %>
  <%= link_to "webMathematica", "webMathematica" %>,
  Maple.TA etc.
</p>
