<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the site <a href="http://mathdrill.info">MathDrill Help page</a>.
  To get help on this server, see the
  <a href="http://mathdrill.info/guide"></a>.
</p>
