<div class="center hero-unit">
  <h1>MathDrill Share App</h1>

  <h2>
    Sharing Server of Contents
    for Drill Problems of College Mathematics.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <hr/>
  <p>
  Once signed-up, any one can use freely the contents on this site.<br/>
  Any comments and any new ideas are welcome. <br/>
  Also, programming staff are welcome. Thank you.
  </p>
</div>


<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
