<footer class="footer">
  <small>
    <a href="http://info.mathdrill.net/">MathDrill Share App</a>
    by Kentaro Yoshitomi
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.mathdrill.net/">News</a></li>
      <li><a href="http://bg.las.osakafu-u.ac.jp/emath/">Old Share(Japanese)</a></li>
    </ul>
  </nav>
</footer>
